<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index.html :: head}">
</head>
<body>
<div class="grid grid-cols-12 w-full">
  <!-- Header Start -->
  <div th:replace="~{index.html :: header}"></div>
  <!-- Header End -->
  <!-- Content Start -->
  <div class="col-span-12 grid grid-cols-12 bg-bggray">
    <div class="col-span-1"></div>
    <div class="col-span-10 bg-bggray grid grid-cols-12 mt-4 rounded">
      <div class="col-span-12 flex flex-col justify-start items-center">
        <h3 class="text-center text-2xl">Đăng ký</h3>
        <div class="w-1/2">
          <form
                  th:action="@{/register}"
                  th:object="${newCustomer}"
                  method="post"
                  class="flex flex-col justify-start items-center"
          >
            <label class="w-full pb-2">Họ và tên : </label>
            <input th:field="*{name}" type="text" class="w-full h-8 mb-4" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="w-full text-red-600"></span>
            <label class="w-full pb-2">Tuổi : </label>
            <input th:field="*{age}"  type="number" class="w-full h-8 mb-4" />
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="w-full text-red-600"></span>
            <label class="w-full pb-2">Địa chỉ : </label>
            <input th:field="*{address}" type="text" class="w-full h-8 mb-4" />
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="w-full text-red-600"></span>
            <label class="w-full pb-2">Số điện thoại : </label>
            <input th:field="*{phone}" type="text" class="w-full h-8 mb-4" />
            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="w-full text-red-600"></span>
            <label class="w-full pb-2">Email : </label>
            <input th:field="*{email}" type="text" class="w-full h-8 mb-4" />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="w-full text-red-600"></span>
            <label class="w-full pb-2">Mật khẩu : </label>
            <input th:field="*{password}" type="password" class="w-full h-8 mb-4" />
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="w-full text-red-600"></span>
            <label class="w-full pb-2">Nhập lại mật khẩu : </label>
            <input th:field="*{rePassword}" type="password" class="w-full h-8 mb-4" />
            <span th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}" class="w-full text-red-600"></span>
            <div th:if="${error}">
              <span th:text="${error}" class="w-full text-red-600"></span>
            </div>
            <button
                    type="submit"
                    class="w-24 h-10 text-white bg-primary m-4 rounded"
            >
              Đăng ký
            </button>
          </form>
          <div class="flex flex-col justify-center items-center">
            <span>Hoặc</span>
            <a th:href="@{/login}">
              <button class="w-24 h-10 text-white bg-primary m-4 rounded">
                Đăng nhập
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-1"></div>
  </div>
  <!-- Content End -->
</div>
</body>
</html>
